<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sundi.movie.dao.MovieMapper" >
	 <resultMap type="movie" id="movieMap">
	 
 	</resultMap>
 	
 	<select id="getMovieList" resultMap="movieMap">
 		select * from movie
 		<where>
 		<if test="name!=''">
 			and name like '%${name}%'
 		</if>
 		<if test="actor!=''">
 			and actor like '%${actor}%'
 		</if>
 		
 		<if test="''!=p1 and null!=p1">
 			and price >= ${p1}
 		</if>
 		<if test="''!=p2 and null!=p2">
 			and price &lt;= ${p2}
 		</if>
 		
 		
 		<if test="''!=l1 and null!=l1">
 			and longtime >= ${l1}
 		</if>
 		<if test="''!=l2 and null!=l2">
 			and longtime &lt;= ${l2}
 		</if>
 		
 		
 		<if test="''!=up1 and null!=up1">
 			and uptime >= #{up1}
 		</if>
 		<if test="''!=up2 and null!=up2">
 			and uptime &lt;= #{up2}
 		</if>

 		</where>
 		<if test="null!=orderColumn">
 			order by ${orderColumn} ${orderMethod}
 		</if>
 	</select>
</mapper>

